{% extends 'base.html' %}

{% block content %}
    <div class="col-md-3">
        <p class="lead">Отделы</p>
        <div class="list-group">
            {% for cat in nav %}
                <a href="{{ cat.get_absolute_url }}" class="list-group-item">{{ cat.name }}</a>
            {% endfor %}
        </div>
    </div>
<div class="col-sm-12">
<h2>{{ cats.name }}</h2>
<hr>
    <h1>Должность сотрудника</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}

      Должность  {{ form.position }}
        Отдел {{ form.depart }}
        Сотрудник {{ form.user }}
        Дата приема {{ form.date }}
        Оклад {{ form.price }}
        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
</div>
{% endblock content %}