{% extends 'base.html' %}

{% block content %}

    <div class="col-md-9">
<div class="col-sm-12">
<h2>{{ cats.name }}</h2>
<hr>
    <h1>Должность сотрудника</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}

      Должность  {{ form.position }}
        Отдел {{ form.depart }}
        Сотрудник {{ form.user }}
        Дата приема {{ form.date }}
        Оклад {{ form.price }}
        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
</div>

    </div>
{% endblock content %}