
{% extends 'base.html' %}


{% block content %}

    <div class="col-md-9">
<div class="col-sm-12">
<h2>{{ cats.name }}</h2>
<hr>
    <h1>Должность сотрудника</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}

      Сотрудник  {{ form.user }} <br>
        Дата начала отпуска {{ form.start_vacation }}<br>
        Дата окончания отпуска {{ form.end_vacation}}<br>

        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
</div>

    </div>
{% endblock content %}